body {
  background-color: rgb(175, 175, 175);
}

h1 {
  color: green;
  font-style: italic;
}

.note {
  color: rgb(255, 255, 255);
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}